/* THINGS TO NOTE

Website design is aimed for three device types:
	mobile: anything below 768 pixels
	tablet: 768px to 1024px
	computer: 1024px and greater




/*==========================================

FlexBox Settings

==========================================*/
.row {
	display: flex;
}

/*==========================================

BODY

==========================================*/
body {
	background-color: #fafafa;
	font-family: "open sans";
}

/*==========================================

HEADER

==========================================*/
header {
	text-align: center;
}

.heading {
	padding-bottom: 20px;
}
/*==========================================

NAVIGATION

==========================================*/
nav {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 35px;
}

nav ul {
	padding-left: 0;
}

nav li {
	list-style: none;
	background-color: #fefefe;
	padding: 10px 0;
	margin: 8px 0;
	font-weight: bolder;
}

/*==========================================

HEADINGS AND TEXT

==========================================*/

p {
	font-weight: lighter;
	width: 92%;
}

h3 {
	padding: 15px 0;
}

/*==========================================

SECTIONS

==========================================*/
section > article {
	padding-top: 30px;
}


/*==========================================

MEDIA QUERIES

==========================================*/

/* Media Query for Phones */
@media (max-width: 767px){
	body {
		width:90%;
		margin: 0 auto;
	}
	.profilePicture {
		display: block;
		width: 70%;
		margin: 0 auto;
	}
	img {
		max-width: 100%;
	}
	p,
	h2,
	h3 {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	
}

/* Media Query for Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
	
}

/* Media Query for Computers */
@media (min-width: 1024px){
	
}